<!DOCTYPE html>
<html ng-app="QuizProgram">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">        
        
        <title>Quiz Program</title>        
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    </head>
    <body style="background-color:#333">     
        <div class="jumbotron"; style="background-color:gray">
            <h1 style="color: #FBD300">  ~ Quiz Program ~ </h1>
            <p></p>
            <h4 style="color: white"> Quizzing program selects random students and random questions.</h4>
        </div>  
    
        <div class="container">
            <div ng-controller="QuizProgramController as qpc" style="color: white">
                <!--<button type="button" class="btn btn-lg btn-default" ng-show="qpc.show_next" ng-click="qpc.getNext()">Next Student</button><br/>-->
                <font style="color: white"> 
                <p></p><span class="label label-info"; style="color: black"> student:</span> {{qpc.selected_student.name}} - 
                correct: {{qpc.selected_student.correct}} - wrong: {{qpc.selected_student.wrong}}</p>
                </font>
                <p><span class="label label-info" style="color: black"> question:</span> {{qpc.selected_question.question}}</p>
                <p><span class="label label-info" style="color: black"> answer:</span> {{qpc.selected_question.answer}}</p>
                <button type="button" class="btn btn-primary" ng-click="qpc.doCorrect()"> Correct</button>
                <button type="button" class="btn btn-warning" style="color: black" ng-click="qpc.doWrong()"> Wrong</button>
            </div>
        </div>
        <script src="angular.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>                
        <script src="app.js"></script>
    </body>
</html>